.line
    width: 100%
    word-break: break-all
    min-height: var(--console-fontSize)
    font-size: var(--console-fontSize)
    line-height: normal
    white-space: pre-wrap
    font-family: inherit
    display: flex
    align-items: center

    img
        min-width: 320px
        max-width: 768px
        width: 100%

.break
    overflow: hidden
    white-space: nowrap
    color: var(--console-text)
